.profile {
  &__avatar {
    margin-top: -80px;
    margin-left: 20px;
  }
  .profile-headers {
    font-family: Inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
  }

  .custom-button {
    border: none;
    background: none;
    color: grey;
    padding: 8px 16px;
    cursor: pointer;
  }

  .custom-button.selected {
    border-bottom: 2px solid blue;
    color: black;
  }
}

.post {
  position: relative;
  top: 15px;
  margin-right: 25px;

  // This stands for Nickname, tag and post publish date
  &__info-row {
    position: relative;
    left: 17px;
    display: flex;
  }
  &__info-col {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__retweet-icon {
    font-size: 15px;
    color: #536471;
    margin-left: 40px;
    margin-right: 4px;
  }

  &__reposted-text {
    font-family: Inter, sans-serif;
    font-size: 12px;
    margin-right: 5px;
    color: #536471;
  }
}
