.login-page {
  background-color: var(--login-bg);
  .ant-typography {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-size-adjust: none;
  }
  justify-content: center;

  &__content {
    width: 100%;
    //height: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
  }
}

.content-container {
  display: flex;
  flex-direction: column;

  &__box {
    padding: 20px;
  }
  &__welcome-text {
    margin-top: 48px;
    margin-bottom: 48px;
    .ant-typography {
      font-size: 64px;  // TODO: Сделать так, чтобы текст изменял размеры при изменении размеров экрана
    }
  }

  &__buttons {
    display: inline-block;
    max-width: 380px;
  }

  &__google-login {
    margin-bottom: 8px;
    .ant-btn {
      background-color: var(--login-integration-buttons);
      color: var(--login-bg);
      font-family: "Google Sans", arial, sans-serif;
    }
  }
  &__apple-login {
    .ant-btn {
      background-color: var(--login-integration-buttons);
      color: var(--login-bg);
      font-family: Twitter, Tahoma, sans-serif;
      font-weight: bold;
    }
  }

  &__sign-up {
    &__button {
      margin-bottom: 8px;
    }
    .ant-btn {
      background-color: rgb(29, 155, 240);
      color: #ffffff;
      font-family: Twitter, Tahoma, sans-serif;
      font-weight: bold;
    }
    &__text {
      margin-bottom: 20px;
    }
  }

  &__login {
    margin-top: 40px;
    .ant-typography {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .ant-btn {
      background-color: var(--login-bg);
      color: rgb(29, 155, 240);
      font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      font-weight: bold;
    }
  }
  &__login-text {
    margin-bottom: 20px
  }
}

.x-image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  align-items: center;
  font-size: 400px;
  padding: 32px;

  &__image {
    flex-direction: column;
    color: var(--login-integration-buttons);
    justify-content: center;
  }
}
