//style={{display: 'flex', justifyContent: "center", minHeight: '100vh'}}

.main {
  display: flex;
  justify-content: center;  // Probably, won't work...
  min-height: 100vh;
  background-color: var(--color-bg-base);

  &__control-panel {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;

  }

  &__content-box {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    max-width: 600px;
    &__header {
      text-align: start;
      padding: 16px;
      .ant-typography {
        margin: 0;
      }
    }

    &__content {

      &__container {
        //height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
//
//.recommendations {
//  display: flex;
//  flex-grow: 1;
//  flex-direction: column;
//
//  padding: 24px;
//  width: 350px;
//
//  &__search {
//
//  }
//}