html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.side-buttons {
  font-family: Inter, sans-serif;
  font-size: 24px;
  border: none;
}
.side-buttons.active {
  font-weight: bold;
  color: black;
}
.side-buttons .anticon {
  margin-right: 16px;
}
/*.side-buttons:hover {*/
/*  background-color: grey !important;*/
/*  color: #ffffff !important;*/
/*}*/

/*.custom-button:hover,*/
/*.custom-button:focus {*/
/*  outline: none;*/
/*  box-shadow: none;*/
/*  border: none;*/
/*}*/