html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*@media (min-width: 1201px) {*/
/*    .content-tweet {*/
/*      margin-right: 535px;*/

/*    }*/
/*}*/


/*.side-buttons:hover {*/
/*  background-color: grey !important;*/
/*  color: #ffffff !important;*/
/*}*/

/*.custom-button:hover,*/
/*.custom-button:focus {*/
/*  outline: none;*/
/*  box-shadow: none;*/
/*  border: none;*/
/*}*/